<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

<!-- Web Fonts  -->
<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet" type="text/css">
<!-- link id="googleFonts" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet" type="text/css" -->

<!-- Vendor CSS -->

<link rel="stylesheet" href="{site_url}vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{site_url}vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="{site_url}vendor/animate/animate.compat.css">
<link rel="stylesheet" href="{site_url}vendor/simple-line-icons/css/simple-line-icons.min.css">
<link rel="stylesheet" href="{site_url}vendor/owl.carousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="{site_url}vendor/owl.carousel/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="{site_url}vendor/magnific-popup/magnific-popup.min.css">


<!-- Theme CSS -->

<link rel="stylesheet" href="{stylesheet=style/theme}">
<link rel="stylesheet" href="{stylesheet=style/theme-elements}">
<link rel="stylesheet" href="{stylesheet=style/theme-blog}">
<link rel="stylesheet" href="{stylesheet=style/theme-shop}">
<link rel="stylesheet" href="{stylesheet=style/shop}">
<link rel="stylesheet" href="{stylesheet=style/skin}">
<link rel="stylesheet" href="{stylesheet=style/custom}">
<link rel="stylesheet" href="{stylesheet=style/theme-responsive}">

<script src="{site_url}vendor/jquery/jquery.min.js"></script>

<link rel="stylesheet" href="{site_url}customjs/jquery.smartsuggest.css" />